/* 作者：懒人之家 www.lanrenzhijia.com */
body{background: #82786c;}
.walker{
    width:320px;
    height:480px;
    position:fixed;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.fadeInLong {
  -webkit-animation: fadeIn 5s ease 0s 1 both;
  -ms-animation: fadeIn 5s ease 0s 1 both;
  -moz-animation: fadeIn 5s ease 0s 1 both;
  -o-animation: fadeIn 5s ease 0s 1 both;
          animation: fadeIn 5s ease 0s 1 both;
          background:url(../images/01.jpg) no-repeat center center / cover;
}
.fadeOutLong {
  -webkit-animation: fadeOut 5s ease 0s 1 both;
  -ms-animation: fadeOut 5s ease 0s 1 both;
  -moz-animation: fadeOut 5s ease 0s 1 both;
  -o-animation: fadeOut 5s ease 0s 1 both;
          animation: fadeOut 5s ease 0s 1 both;
          background:url(../images/02.jpg) no-repeat center center / cover;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}